
.mac-window {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: center;
    min-width: 15vh;
    min-height: 50vh;
    max-width: 50rem;

}

.mac-title-bar {
    height: 40px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #d3d3d3;
}

.mac-title-bar .mac-close-button,
.mac-title-bar .mac-minimize-button,
.mac-title-bar .mac-maximize-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.mac-title-bar .mac-close-button {
    background-color: #fc625d;
}

.mac-title-bar .mac-minimize-button {
    background-color: #fdbc40;
}

.mac-title-bar .mac-maximize-button {
    background-color: #34c749;
}

.mac-content {
    padding-top: 1.25rem;
    min-width: 50rem;
    min-height: 38.438rem;
}

.asciiArtName {
    display: grid;
    place-items: center;
}

.typingBio {
    padding: 1.25rem;
    display: grid;
    height: 280px;
}

.footer {
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}