
body {
 background-color: #BDBDBD;
}

@keyframes blink {
  from{
      opacity: 0%;
   }
   to{
       opacity: 100%;
    }
}
.type-writer::after{
   content: "|";
animation: blink 1s infinite;
}
.type-writer > span{
}

html, body, #root, .container {
   display: grid;
   place-items: center;
   width: 100%;
   padding-top: 2%;
 }

.windowPositioning {
  height: 100%;
}